<settings>
  <profiles>
    <profile>
      <id>bankmonitor-bm-apis</id>
      <activation>
        <activeByDefault>true</activeByDefault>
      </activation>
      <repositories>
        <repository>
          <id>bankmonitor-bm-apis</id>
          <url>https://bankmonitor-767398085282.d.codeartifact.eu-west-1.amazonaws.com/maven/bm-apis/</url>
        </repository>
      </repositories>
    </profile>
  </profiles>

  <servers>
    <server>
      <id>bankmonitor-bm-apis</id>
      <username>aws</username>
      <password>${env.CODEARTIFACT_AUTH_TOKEN}</password>
    </server>
  </servers>
</settings>